<!-- Sidebar -->
<% if (user) { %>
<div id="sidebar-wrapper">
<ul class="sidebar-nav">
	<li id="profile">
		<figure class="profile-userpic">
        <img src="/images/egg.jpg" class="img-circle" height = "100" style="margin: 20px 0px" alt="Profile Picture">
        </figure>
        <div class="profile-usertitle"></div>
    </li>
    <li><a href="user">Account</a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Settings</a></li>
	<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Chat</a></li>
    <li><a href="request">Request</a></li>
</ul>
</div>
<% } %>