<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body style="background-image:url(images/geometry.jpg)">
<% include partials/navbar %>
<div id="wrapper">

	<% include partials/sidebar %>
	<% include partials/bs-boilerplate-start %>
	
    <!-- Page content -->
    <h1 style="color:#FF0000";>Meet the Team!</h1>
	<img src="images/Will.jpg" class="img-responsive" height = "150" width = "150" style="margin: 0px 0px">
    <width="85" height="55" viewBox="0 0 350 350"><title>Social</title><g stroke-width="9" stroke="#231F20" fill="none" fill-rule="evenodd">
	<p class="features-item-name"><b>William</b></p>
    <p class="features-item-desc">Born straight from the burning pits of silicon valley, William grew up in the streets fighting off agile design during the day and C* pathfinding during the night.
Battle tested, William will be mainly responsible for the backend of Am.nesia in addition to leading and coordinating efforts of other team members.</p>

	<img src="images/Syed.jpg" class="img-responsive" height = "150" width = "150" style="margin: 0px 0px">
	<width="85" height="55" viewBox="0 0 350 350"><title>Social</title><g stroke-width="9" stroke="#231F20" fill="none" fill-rule="evenodd">
	<p class="features-item-name"><b>Syed</b></p>
    <p class="features-item-desc">CSE Senior Syed will be the main frontend engineer for Am.nesia.</p>

	<img src="images/Max.jpg" class="img-responsive" height = "150" width = "150" style="margin: 0px 0px">
	<width="85" height="55" viewBox="0 0 350 350"><title>Social</title><g stroke-width="9" stroke="#231F20" fill="none" fill-rule="evenodd">
	<p class="features-item-name"><b>Max</b></p>
    <p class="features-item-desc">MI Major Will be working on more frontend. Login page specifically.
	</p>

	<img src="images/Zhuyu.jpg" class="img-responsive" height = "150" width = "150" style="margin: 0px 0px"/>
	<width="85" height="55" viewBox="0 0 350 350"><title>Social</title><g stroke-width="9" stroke="#231F20" fill="none" fill-rule="evenodd">
	<p class="features-item-name"><b>Zhuyu</b></p>
    <p class="features-item-desc">CSE Major
	The new guy on the block, Zhuyu will have a lot of PDFs and presentations thrown at him</p>
    <a href="#" class="btn btn-success btn-lg"  style="margin: 0px 500spx">Contact Us!</a>

	<% include partials/bs-boilerplate-end %>
</div>
</body>
</html>


