<html>
<head>
</head>
<body>
	<h1>Create account</h1>
	<form action="create" method="POST">
	email: <input type="text" name="email" />
	<br>
	password: <input type="text" name="email" />
	<br>
	<input type="submit" name="submit" value="Submit" />	
	</form>
</form>
</body>
</html>
