<html>
<head>
</head>
<body>
	<h1>Login</h1>
	<form action="login" method="POST">
	email: <input type="text" name="email" />
	<br>
	password: <input type="text" name="email" />
	<br>
	<input type="submit" name="submit" value="Submit" />	
	</form>
	<b>Need an account? <a href="./create">Click here!</a></b>
</form>
</body>
</html>
