<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= error.status %></title>
</head>
<body>
    <h1><b>MESSAGE: </b><%= message %></h1>
    <h2><b>STATUS: </b><%= error.status %></h2>
    <pre><b>STACK: </b><%= error.stack %></pre>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1" frameborder="0" allowfullscreen></iframe>
</body>