<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body style="background-image:url(/images/geometry.jpg)">
<% include partials/navbar %>
<div id="wrapper">

	<% include partials/sidebar %>
	<% include partials/bs-boilerplate-start %>
	
    <!-- Page content -->							
	<h1 style="color:#FF0000";>Welcome to Am.nesia</h1>
	<img src="/images/Flash.png" class="img-responsive" height = "100" style="margin: 50px 400px" alt="Profile Picture">
	<!-- TODO -->
	<a href="quiz" class="btn btn-success btn-lg"  style="margin: 0px 500px">Get Started!</a>

	<% include partials/bs-boilerplate-end %>
</div>
</body>
</html>