<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head.ejs %>
</head>
<body>
    <h1>Welcome to Am.nesia!</h1>
    <a href="https://github.com/lordcrekit/am.nesia">Check out our github.</a>
    <p>To add css, put it in public/css/style.css. You can add more stylesheets if you want.</p>
    <p>You can run this for yourself. Google how to run a node library and run it on your home computer! Email me for help.</p>
</body>
</html>
