<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body style="background-image:url(/images/geometry.jpg)">
<% include partials/navbar %>
<div id="wrapper">
	<% include partials/sidebar %>
	<% include partials/bs-boilerplate-start %>
    
    <% if (correct) { %>
        <h1>Correct!</h1>
    <% } else { %>
        <h1>Incorrect!</h1>
    <% } %>
    
    <h2>Your answer</h2>
    <pre><%= gaveAnswer %></pre>
    <h2>Correct answers</h2>
    <% if ( correctAnswers.length == 0 ) { %>
        <p>Oops.. it looks like this question doesn't have a correct answer. Contact an admin.</p>
    <% } else { %>
        <ul>
        <% for (var i = 0; i < correctAnswers.length; i++ ) { %>
            <li><pre><%= correctAnswers[i].answer %></pre></li>
        <% } %>
        </ul>
    <% } %>
    <p><a href="/quiz">Next question!</a></p>
    
    <% include partials/bs-boilerplate-end %>
</div>
</body>
</html>
