<!DOCTYPE html>
<html lang="en">
<header>
</header>
<body>
    <form action="/subjects/<%= subject.id %>/add-subject" method="post">
		Subject name:<br/>
		<input type="text" name="subjectName"/><br/>
		<input type="submit" value="Submit"/>
	</form>
</body>
</html>