<!DOCTYPE html>
<html lang="en">
<header>
</header>
<body>
    <form action="/subjects/<%= subject.id %>/add-question" method="post">
		Question text:<br/>
		<input type="text" name="questionText"/><br/>
		<input type="submit" value="Submit"/>
	</form>
</body>
</html>