<!DOCTYPE html>
<html lang="en">
<header>
</header>
<body>
    <form action="/user/request-admin" method="post">
		Answer:<br/>
		<input type="password" name="password"/><br/>
		<input type="submit" value="Submit"/>
	</form>
</body>
</html>